.App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/670445.jpg");
  color: aqua;
  font-family: 'Courier New', monospace;
}

.kyle-photo {
  width: 15%;
  height: 15%;
  margin-top: 20px;
  border-radius: 50%;
}

.name-item {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(23, 101, 246);
}

.sub-about-me {
  font-size: 20px;
}

.about-me, .software-title, .projects-title, .socials-title, .contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(23, 101, 246);
}

.project-links {
  display: flex;
  justify-content: center;
  margin-top:10px;
}

.drinkhub-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.youandmeme-image {
  width: 50px;
  height: 50px;
}

.hangman-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.linkedin-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.github-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.resume-image {
  width: 50px;
  height: 50px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.software-list {
  justify-content: center;
}
